@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: tublian_dashbord/src/App.css */
:root {
  --text-primary: #fefefe;
  --card-btn: #fefefe;
  --main-gradient: linear-gradient(#fbda61, #ff5acd);
  --text-secondary: #b7b7b7;
  --font-style: "Platypi, sans-serif";
}

.menu {
  background: var(--main-gradient);
}
