@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: tublian_dashbord/src/App.css */
:root {
  --text-primary: #fefefe;
  --card-btn: #fefefe;
  --background: #1e1e1e;
  --background50: #292929;
  --main-gradient: linear-gradient(#fbda61, #ff5acd);
  --text-primary: #fefefe;
  --text-secondary: #b7b7b7;
  --card-btn:#FDD649;
}

.menu {
  background: var(--background);
  border-radius: 10px;
  font-family: var(--font-style);
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.7rem;
  transition: all 0.3s linear;
}
.menu ul li {
  list-style: none;
  padding: 0.5rem 0.8rem;
  transition: all 0.3s linear;
  font-size: 1.2rem;
  color: var(--text-primary);
  font-family: var(--font-style);
  border-radius: 10px;
}

.menu ul li:hover {
  transition: all 0.3s linear;
  /* background-color: var(--text-secondary); */
  cursor: pointer;
  font-family: var(--font-style);
  background-color: var(--main-gradient);
}
.gradient {
  background: var(--main-gradient);
}
.bg50 {
  background: var(--background50);
}
.bg {
  background: var(--background);
}
.text-p {
  color: var(--text-primary);
}
.text-s {
  color: var(--text-secondary);
}

.axe {
  border: ridge 1px color-mix(in hsl, #fbda61 50%, #ff5acd 60%);
  padding: 8px;
  border-radius: 10px;
}

.b {
  background-color: var(--card-btn);
}
